<a href="https://colab.research.google.com/github/FahmidaNourin/Python-_Data_Arch/blob/main/Project_Weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Machine-School/main/datasets/weather.csv")

In [6]:
target = "RainTomorrow"

In [7]:
df.head(10)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
5,6.2,16.9,0.0,5.8,8.2,SE,44.0,SE,E,20.0,...,57,1023.8,1021.7,7,5,10.9,14.8,No,0.2,No
6,6.1,18.2,0.2,4.2,8.4,SE,43.0,SE,ESE,19.0,...,47,1024.6,1022.2,4,6,12.4,17.3,No,0.0,No
7,8.3,17.0,0.0,5.6,4.6,E,41.0,SE,E,11.0,...,57,1026.2,1024.2,6,7,12.1,15.5,No,0.0,No
8,8.8,19.5,0.0,4.0,4.1,S,48.0,E,ENE,19.0,...,48,1026.1,1022.7,7,7,14.1,18.9,No,16.2,Yes
9,8.4,22.8,16.2,5.4,7.7,E,31.0,S,ESE,7.0,...,32,1024.1,1020.7,7,1,13.3,21.7,Yes,0.0,No

In [8]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [9]:
df.shape

(366, 22)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    object
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    object
 8   WindDir3pm     365 non-null    object
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    object
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 63.0+ KB

In [11]:
df.dropna(axis = 0, how='any', inplace = True)
df= df.reset_index(drop = True)       # reseting starting index and ending index

In [12]:
df.shape

(328, 22)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        328 non-null    float64
 1   MaxTemp        328 non-null    float64
 2   Rainfall       328 non-null    float64
 3   Evaporation    328 non-null    float64
 4   Sunshine       328 non-null    float64
 5   WindGustDir    328 non-null    object
 6   WindGustSpeed  328 non-null    float64
 7   WindDir9am     328 non-null    object
 8   WindDir3pm     328 non-null    object
 9   WindSpeed9am   328 non-null    float64
 10  WindSpeed3pm   328 non-null    int64
 11  Humidity9am    328 non-null    int64
 12  Humidity3pm    328 non-null    int64
 13  Pressure9am    328 non-null    float64
 14  Pressure3pm    328 non-null    float64
 15  Cloud9am       328 non-null    int64
 16  Cloud3pm       328 non-null    int64
 17  Temp9am        328 non-null    float64
 18  Temp3pm        328 non-null    float64
 19  RainToday      328 non-null    object
 20  RISK_MM        328 non-null    float64
 21  RainTomorrow   328 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 56.5+ KB

In [14]:
li=["WindGustDir", "WindDir9am","WindDir3pm","RainToday","RainTomorrow"]

In [15]:
df["WindGustDir"].value_counts()

NW     64
NNW    35
E      34
WNW    32
ENE    29
ESE    23
S      21
N      21
NE     15
W      15
SSE    12
SE     11
NNE     7
SSW     4
SW      3
WSW     2
Name: WindGustDir, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder
encd = LabelEncoder()

In [17]:
df["WindGustDir"] = encd.fit_transform(df["WindGustDir"])

In [18]:
df["WindGustDir"].value_counts()

7     64
6     35
0     34
14    32
1     29
2     23
8     21
3     21
4     15
13    15
10    12
9     11
5      7
11     4
12     3
15     2
Name: WindGustDir, dtype: int64

In [19]:
df["WindDir9am"] = encd.fit_transform(df["WindDir9am"])
df["WindDir3pm"] = encd.fit_transform(df["WindDir3pm"])
df["RainToday"] = encd.fit_transform(df["RainToday"])

In [20]:
df["RainTomorrow"].value_counts()

No     268
Yes     60
Name: RainTomorrow, dtype: int64

In [21]:
df["RainTomorrow"] = encd.fit_transform(df["RainTomorrow"])
df["RainTomorrow"].value_counts()

0    268
1     60
Name: RainTomorrow, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        328 non-null    float64
 1   MaxTemp        328 non-null    float64
 2   Rainfall       328 non-null    float64
 3   Evaporation    328 non-null    float64
 4   Sunshine       328 non-null    float64
 5   WindGustDir    328 non-null    int64
 6   WindGustSpeed  328 non-null    float64
 7   WindDir9am     328 non-null    int64
 8   WindDir3pm     328 non-null    int64
 9   WindSpeed9am   328 non-null    float64
 10  WindSpeed3pm   328 non-null    int64
 11  Humidity9am    328 non-null    int64
 12  Humidity3pm    328 non-null    int64
 13  Pressure9am    328 non-null    float64
 14  Pressure3pm    328 non-null    float64
 15  Cloud9am       328 non-null    int64
 16  Cloud3pm       328 non-null    int64
 17  Temp9am        328 non-null    float64
 18  Temp3pm        328 non-null    float64
 19  RainToday      328 non-null    int64
 20  RISK_MM        328 non-null    float64
 21  RainTomorrow   328 non-null    int64
dtypes: float64(12), int64(10)
memory usage: 56.5 KB

In [23]:
k = df.loc[:,["WindGustDir","WindGustSpeed","Cloud9am","Temp3pm"]]

In [24]:
k.head(-1)

     WindGustDir  WindGustSpeed  Cloud9am  Temp3pm
0              7           30.0         7     23.6
1              1           39.0         5     25.7
2              7           85.0         8     20.2
3              7           54.0         2     14.1
4             10           50.0         7     15.4
..           ...            ...       ...      ...
322            3           43.0         0     24.8
323            6           76.0         1     30.0
324            3           48.0         0     28.2
325            2           43.0         3     18.3
326            7           46.0         6     25.9

[327 rows x 4 columns]

In [25]:
df.iloc[100:,4:]

,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
100,8.9,10,33.0,8,8,15.0,17,65,51,1007.7,1006.8,6,6,13.8,18.7,0,0.0,0
101,9.6,1,41.0,10,13,17.0,13,66,37,1013.6,1011.4,1,7,14.0,21.4,0,0.0,0
102,10.7,4,31.0,9,4,7.0,13,74,34,1016.1,1011.7,1,5,14.6,24.2,0,4.4,1
103,5.9,13,48.0,6,14,9.0,17,95,60,1010.8,1006.8,8,5,15.8,22.6,1,11.0,1
104,0.4,1,30.0,10,10,13.0,15,81,73,1010.0,1011.0,7,8,16.3,16.8,1,0.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,12.1,6,76.0,10,7,7.0,50,38,15,1016.1,1010.8,1,3,20.4,30.0,0,0.0,0
324,12.7,3,48.0,6,6,2.0,19,45,22,1020.0,1016.9,0,1,17.2,28.2,0,0.0,0
325,5.3,2,43.0,1,1,11.0,9,63,47,1024.0,1022.8,3,2,14.5,18.3,0,0.0,0
326,7.1,7,46.0,11,14,6.0,28,69,39,1021.0,1016.2,6,7,15.8,25.9,0,0.0,0
327,12.6,7,78.0,7,14,31.0,35,43,13,1009.6,1009.2,1,1,23.8,28.6,0,0.0,0

In [26]:
df["Sunshine"]

0       6.3
1       9.7
2       3.3
3       9.1
4      10.6
       ...
323    12.1
324    12.7
325     5.3
326     7.1
327    12.6
Name: Sunshine, Length: 328, dtype: float64

In [27]:
target

'RainTomorrow'

In [28]:
X = df.loc[:,df.columns != target]
y = df[target]

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=0)

In [30]:
%%time
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

CPU times: user 229 ms, sys: 15.8 ms, total: 245 ms
Wall time: 545 ms

In [31]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9817073170731707

In [32]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier()
ada.fit(X_train, y_train)
y_pred = ada.predict(X_test)

In [33]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0

In [34]:
X.loc[100:101,:]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM
100,10.4,20.9,0.0,4.0,8.9,10,33.0,8,8,15.0,...,65,51,1007.7,1006.8,6,6,13.8,18.7,0,0.0
101,9.1,23.1,0.0,5.8,9.6,1,41.0,10,13,17.0,...,66,37,1013.6,1011.4,1,7,14.0,21.4,0,0.0

In [35]:
import joblib

def save_model(model,model_name):
 joblib.dump(model, model_name)
  

def load_model(model_name):
  return joblib.load(model_name)

In [36]:
save_model(rf,"RandomForest_Trained_model_For_weather")

In [37]:
save_model(ada,"AdaBoost_Trained_model_For_weather")